<h4>Your bikes</h4>

<% @user_bicycles.each do |bike| %>
 Description: <%= bike.description %>
 <br>
 Url:<%= bike.url %>
 <br>
 <% if current_user == @user %>
   <%= link_to 'edit image', edit_bicycle_path(bike) %>
 <% end %>
<% end %>
